*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: hollowFont;
    src: url(./assets/font/hollow.ttf);
}

@font-face {
    font-family: solidFont;
    src: url(./assets/font/solid.ttf);
}

body{
    background-image: url(./assets/photo/bac.png);
    /* background-size: cover; */
    z-index: -1;
}