*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: hollowFont;
    src: url(./assets/font/Pokemon\ Hollow.ttf);
}

@font-face {
    font-family: solidFont;
    src: url(./assets/font/Pokemon\ Solid.ttf);
}